.todo-list {
  margin-top: 15px;
  margin-bottom: 15px;
}

.todo-list__filter-group {
  border-bottom: 2px solid #000000;
  margin: 0 25px;
  padding-bottom: 10px;
}

.todo-list__btn__filter {
  margin-left: 10px;
}

.todo-list__todo-notes {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 0 25px;
  border-bottom: 1px solid #000000;
}

.todo-container__todo-notes__content {
  margin-left: 15px;
}

.todo-container__todo-notes__disable {
  display: flex;
  align-items: center;
  text-decoration: line-through;
  background: #8fd460;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
.todo-container__save-btn:hover {
  color: #3c9103;
  border-color: #3c9103;
}

.todo-container__btn__save-edit-delete {
  display: flex;
  margin-left: 10px;
}
.todo-container__input-container {
  width: 100%;
  margin-right: 5px;
  display: flex;
  height: 40px;
  align-items: center;
}
.ant-btn {
  transition: none;
}
@media (max-width: 400px), screen and (orientation: portrait) {
  .todo-list__btn__filter-responsive {
    font-size: 30px;
    height: 70px;
  }

  .todo-list__btn__filter-portrait {
    width: 170px;
  }

  .todo-container__btn__func-responsive {
    width: 100px;
  }

  .todo-list__btn__filter {
    margin-left: 20px;
  }

  .todo-list__btn-group-container {
    margin-top: 10px;
    padding-bottom: 30px;
  }

  .todo-list__todo-notes {
    font-size: 35px;
    border-bottom: 2px solid #000000;
    padding: 20px 0;
  }

  .todo-container__edit-input {
    padding: 15px;
    font-size: 35px;
  }

  .todo-container__save-btn {
    height: 87px;
    margin-left: 15px;
    width: 100px;
  }

  .todo-container__todo-notes__disable {
    padding: 20px 20px;
    height: 70px;
    width: 100%;
  }

  .todo-container__btn__save-edit-delete {
    margin-left: 15px;
  }
}
