.todo-list__filter-group {
    border-bottom: 2px solid #000000;
    margin: 15px 25px 0 25px;
    padding-bottom: 15px;
}

.filter-btn {
    background-color: #FFFFFF;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 0 #FFFFFF;
    z-index: 1;
    outline: none;
    position: relative;
    transition: all 0.5s;
}

.filter-btn:hover {
    cursor: pointer;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 0;
}

.filter-btn:before {
    transition: 0.2s all ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    opacity: 0;
    content: "";
    background-color: #FFDEAD;
}

.filter-btn:hover:before {
    transition: 0.2s all ease;
    bottom: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
}

.filter-btn:active {
    top: 2px;
    transition: 0.2s all ease;
}

.todo-list__btn__filter {
    margin-left: 10px;
}

@media screen and (max-width: 600px){
    .filter-btn{
        padding: 5px 15px;
    }
}

@media screen and (max-width: 350px){
    .filter-btn{
        padding: 2px 10px;
    }
}