.add-todo {
  display: flex;
}

.add-todo__input {
  margin: 0 10px 0 25px;
  border-radius: 4px;
  width: 42vw;
  padding: 0 10px 3px;
  letter-spacing: 1px;
}

.add-todo__input::placeholder{
  color: #212529;
  opacity: 0.4;
  font-size: 14px;
}

.add-todo__button {
  margin-right: 25px;
  background-color: #FFFFFF;
  padding: 0 10px;
  cursor: pointer;
}

.add-todo__button:hover {
  color: #3c9103;
  border-color: #3c9103;
}
