.add-todo {
  display: flex;
}

.add-todo__input {
  margin: 0 10px 0 25px;
  border-radius: 4px;
  width: 400px;
  padding: 7px 14px 9px;
  letter-spacing: 1px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #333333;
}

.add-todo__input::placeholder{
  color: #212529;
  opacity: 0.4;
}

.add-todo__input:focus{
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
}

.add-todo__button {
  margin-right: 25px;
  background-color: #FFFFFF;
  padding: 0 15px;
  cursor: pointer;
}

.add-todo__button:hover {
  color: #3c9103;
  border-color: #3c9103;
}
/*@media (max-width: 400px), screen and (orientation: portrait) {*/
/*  .add-todo__input {*/
/*    padding: 15px;*/
/*    font-size: 35px;*/
/*  }*/

/*  .add-todo__button {*/
/*    font-size: 35px;*/
/*    height: 87px;*/
/*    margin-left: 15px;*/
/*    width: 120px;*/
/*  }*/
/*}*/
